<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/otp.css") }}">
</head>
<body>
<div class="otp-container">
    <div class="otp-box">
        <div class="logo">🔵</div>
        <h2>Password Reset</h2>
        <p>We sent a code to <strong></strong></p>
        <form id="otpForm">
            <div class="otp-inputs">
                <input type="text" maxlength="1" required>
                <input type="text" maxlength="1" required>
                <input type="text" maxlength="1" required>
                <input type="text" maxlength="1" required>
                <input type="text" maxlength="1" required>
                <input type="text" maxlength="1" required>
            </div>
            <input type="hidden" id="email" value="youremail@example.com" />
            <p class="resend-text">
                Didn't receive OTP code? <a href="#" id="resendLink">Resend OTP</a>
            </p>
            <div id="messageBox" class="message"></div>
            <button type="submit">Verify & Continue</button>
        </form>
    </div>
</div>

<script src="{{ url_for("static",filename="js/opt.js") }}"></script>
</body>
</html>
